h1{
    display: inline;
    padding: 20px;
    margin: 5px;
    font-size: 60px;
}

body{
    text-align: center;
    
}

button{
    margin: auto 0px;
    padding: 25px;
    margin: 10px;
    font-size: 20px;
    font-weight: bolder;
    color: rgb(255, 60, 0);
    background-color: rgb(243, 245, 131);
}